/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
  }
  
  header, footer {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section {
    width: 60%;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    font-size: 24px;
    color: #283747;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form textarea,
  form input[type="date"],
  form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #009341;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #03ad50;
  }
  nav {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
  }