:root{
    --primario: #1855E1;
    --secundario: #AE18F0;
    --blanco: #FFFFFF;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/* Globals */
html{
    font-size: 62.5%; /* Para que sea 1rem = 10px*/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.3rem;
    margin: 0;
    font-family: 'Krub', sans-serif;
}

/* Typography */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
.bttn{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.bttn:hover{
    background-color: rgb(117, 38, 192);
    color: var(--blanco);
}

.logo_titulo{
    font-size: 2rem;
}
 /* Logo */ 
 .logo{
    padding-left: 5rem;
 }
 .logo_titulo{
    font-weight: 700;
    color: #DFE9F3; 
    font-size: 3rem;
 }
 .nav-bg{
    background-color: var(--primario);
    padding: 2rem;
}

/* Navigation*/
.main-nav{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
   .main-nav{
    flex-direction: row;
    justify-content: space-between;
   }
   .navbar a {
    display: inline-block;
    text-align: center;
    color: var(--blanco);
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: 700;
}
}
@media (max-width: 767px) {
    .main-nav {
        flex-direction: column;
        align-items: center; 
    }
    .navbar a {
        display: block; /* Cambia a display "block" para que estén en columna */
        margin: 0.5rem 0; /* Añade un espacio entre los enlaces */
        text-align: center;
        color: var(--blanco);
        font-size: 1.5rem;
        padding: .5rem;
        font-weight: 700;
    }
}

/* Menú */
.icon-menu{
    height: 2rem;
}
.icon-menu svg{
    height: 3rem;
}

/* Input */
.input{
    background-color: #1345b9;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-container{
    display: flex;
} 
.search-container svg{
    height: 3rem;
    padding-left: 5rem;

}
.location-container{
    padding: 2rem;
    display: flex;
}
.icon-location{
    padding: .5rem;
}
.input-field{
    display: block;
    height: 3.5rem;
    padding-left: 30px;
    border-radius: 1.5rem;
    width: 100%;
    font-size: 2rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
input:focus{
    outline: none;
}
.input__bttn{
    padding: 0rem 3rem;
    
}
/*.button-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}*/
