:root{
    --primario: #1b396a;
    --secundario: #009341;
    --blanco: #FFFFFF;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/* Globales */
html{
    font-size: 62.5%; /* Para que 1rem = 10px*/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.3rem;
    margin: 0;
    font-family: 'Krub', sans-serif;
}
.bttn{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.bttn:hover{
    background-color: #03ad50;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .boton{
         width: auto;
    }
 }

/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

/* Logo */
.logo_titulo{
    font-size: 2rem;
}
 /* Logo */ 
 .logo{
    padding-left: 5rem;
 }
 .logo_titulo{
    font-weight: 700;
    color: #DFE9F3; 
    font-size: 3rem;
    text-decoration: none;
 }

/* Navegación principal */
.nav-bg{
    background-color: var(--primario);
    padding: 2rem;
}
.main-nav{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
   .main-nav{
    flex-direction: row;
    justify-content: space-between;
   }
   .navbar a {
    display: inline-block;
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    padding: .5rem;
    font-weight: 700;
}
}
@media (max-width: 767px) {
    .main-nav {
        flex-direction: column;
        align-items: center; 
    }
    .navbar a {
        display: block; /* Cambia a display "block" para que estén en columna */
        margin: 0.5rem 0; /* Añade un espacio entre los enlaces */
        text-align: center;
        color: var(--blanco);
        font-size: 1.5rem;
        padding: .5rem;
        font-weight: 700;
    }
}
.navbar a:hover{
    background-color: #FFC107;
    color: var(--oscuro);
    border-radius: 5px;
 }

 /* Login */
 .login{
    padding-top: 1rem;
 }

 /* Main section */
 .hero{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
    0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url("../images/hero.jpg");
    color: var(--blanco);
    padding-bottom: 5rem;
 }
 .hero__tittle{
    padding-top: 6rem;
 }
 .hero__parraf{
    padding-top: 4rem;
    font-size: 2rem;
 }
 .hero__inputs-bttn{
    padding: 10.4rem;
 }
 .bttn-search{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    border-radius: .5rem;
    text-align: center;
 }
 .bttn-search:hover{
    background-color: #03ad50;
    color: var(--blanco);
}

/* Search section */
input:focus{
    outline: none;
}
.hero__inputs-bttn{
    display: flex;
    align-items: center;
} 
.input-categories{
    display: flex;
    align-items: center;
}
.input-locations{
    display: flex;
    align-items: center;
}
.icon-search{
    height: 5rem;
    padding-left: 5rem;
}
.input-category{
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.input-location{
    height: 3rem;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Footer */

