/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
  }
  
  header, footer {
    background-color: #283747;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section {
    width: 45%;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    font-size: 24px;
    color: #283747;
  }
  
  .info p {
    margin-bottom: 10px;
  }
  