/* Estilos generales */
body {
    font-family: 'Krub', sans-serif;;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section {
    width: 45%;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="number"],
  input[type="text"],
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #009341;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #03ad50;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos específicos para cada sección */
  .perfil, .postulacion, .evaluacion {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  form label,
  form input,
  form textarea {
    width: 100%;
  }
  
  form button {
    width: auto;
  }
  nav {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 4px;
  }