/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
  }
  
  header, footer {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  section.solicitudes {
    width: 50%;
  }
  
  .solicitud {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .solicitud p {
    margin-bottom: 10px;
  }
  
  .acciones {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button.aceptar {
    background-color: #2ecc71;
    color: #fff;
  }
  
  button.rechazar {
    background-color: #e74c3c;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.8;
  }
  nav {
    background-color: #1b396a;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 2px;
  }